<h2>Individual product page</h2>

<div class="col s4 m4">
  <div class="card">
    <div class="card-panel hoverable">

      <div class="card-image">
        {{#link-to "product" product.id}}<img src={{product.image}}>{{/link-to}}
        <span class="card-title">{{product.title}}: ${{product.cost}}</span>
      </div>

      <div class="card-action">
        <button class = "waves-effect waves-light btn-large"{{action 'addToCart' product}}>Add to Cart</button>
      </div>

    </div>
  </div>

</div>
